<<<<<<< HEAD
/*.sort { list-style-type: none; margin: 0; padding: 0; width: 60%; }
.sort li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
.sort li span { position: absolute; margin-left: -1.3em; }
*/
.col-xs-6 { 
	width: 45%; 
	display: inline-block;
	float: left;
}
=======
table.calendar {
    margin-bottom: 0;
}

table.calendar > thead > tr > th {
    text-align: center;
}

table.calendar > tbody > tr > td {
    height: 20px;
}

table.calendar > tbody > tr > td > div {
    //padding: 8px;
    height: 40px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    float: left;
}

table.calendar > tbody > tr > td.has-events {
    color: white;
    cursor: pointer;
    padding: 0;
    border-radius: 4px;
}

table.calendar > tbody > tr > td.has-events > div {
    background-color: #08C;
    border-left: 1px solid white;
}

table.calendar > tbody > tr > td.has-events > div:first-child {
    border-left: 0;
    margin-left: 1px;
}

table.calendar > tbody > tr > td.has-events > div.practice {
    opacity: 0.7;
}
table.calendar > tbody > tr > td.conflicts > div > span.title {
    //color: red;
}
table.calendar > tbody > tr > td.max-conflicts > div {
    background-color: red;
    color: white;
}

table.calendar > tbody > tr > td.has-events > div > span {
    display: block;
    text-align: center;
}
table.calendar > tbody > tr > td.has-events > div > span a {
    color: white;
}

table.calendar > tbody > tr > td.has-events > div > span.title {
    font-weight: bold;
}

table.table-borderless > thead > tr > th, table.table-borderless > tbody > tr > td {
    border: 0;
}

.table tbody tr.hover td, .table tbody tr.hover th {
    background-color: whiteSmoke;
}

div#course-prefs {
    width: 100%;
}

div#new-course-pref {
    float: left;
    width: 40%;
    padding-left: 20px;
}

div#course-prefs-list {
    float: left;
    width: 45%;
    padding-right: 15px;
}

div#update-rank-btn {
    float: left;
    width: 14%;
    padding-top: 2%;
}

button.btn {
    background-color: #94bdbd;
    color: black;
}

button.btn.active .btn:active {
    background-color: #94bdbd;
}

#sortable { 
    /* list-style-type: none; */
    margin: 0; 
    padding: 0; 
    width: 60%; 
}

#sortable li { 
    margin: 0 3px 3px 3px; 
    padding-left: 1.5em; 
    font-size: 1.4em; 
    height: 18px; 
    padding: 1.5em;
    line-height: 1em;
}

#sortable li span { 
    position: absolute; 
    margin-left: -1.3em; 
}

#sortable > li > p {
    margin: 0px;
}


>>>>>>> ef1de6882be60d1cd5bdf8fe8ac5400af61843a1
