/* **************** */
/* ***** Util ***** */
/* **************** */

/* noselect disables the default select styles. Useful for clickable divs */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* ****************** */
/* ***** Frames ***** */
/* ***************** */


/* Container for entire scheduling page (below navbar) */
.scheduling-container {
    overflow-x: scroll;
}

/* Tab bar for selected terms */
.term-frame {
    margin-top: 10px;
    /*background-color: #e5e5e5;*/
    border-radius: 5px;
}

/* Frame for section creation */
.new-section-frame {
    position: absolute;
    min-width:300px;
    height: 550px;
    background-color: #e5e5e5;
    border: 1px solid black;
    display:inline-block;
}

/* Window for filters */
.filter-frame {
    position: absolute;
    min-width:300px;
    height: 550px;
    background-color: #e5e5e5;
    border: 1px solid black;
    overflow-x: scroll;
    white-space: nowrap;
}

.outer-frame {
    padding:20px;
    width:290px;
    white-space: normal;
}

.inner-frame {
    background-color: #cccccc;
    width: 100%;
    height: 300px;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 5px;
    display:inline-block;
    overflow:auto;
    overflow-y: scroll;
}

#filter-logic-frame {
    padding-left: 0px;
}

/* ********************** */
/* ***** Components ***** */
/* ********************** */

.btn {
    background-color: #94bdbd;
    color: black;
}

.btn.active .btn:active {
    background-color: #94bdbd;
}

.invis-btn {
    background: white;
    
}


.active-schedule {
    background-color: #b5cadc;
    border-radius:2px;
}

/* Enlarged text box */
input[type=checkbox] {
 -ms-transform: scale(2); /* IE */
 -moz-transform: scale(2); /* FF */
 -webkit-transform: scale(2); /* Safari and Chrome */
 -o-transform: scale(2); /* Opera */
  padding: 10px;
}

/* ********************** */
/* ***** TERM ***** */
/* ********************** */

/* Create new academic term button */
#create-new-term-btn {
    /*margin-top: 13px;*/
    height:100%;
    vertical-align: middle;
}



/* **************************** */
/* ***** Section Creation ***** */
/* **************************** */

/* Manage section button */
.manage-new-section-btn {
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

/* ****************** */
/* ***** FILTER ***** */
/* ****************** */

/* Window for filter types */
.filter-type-window {
    width: 100%;
    height: 100%;
}

/* [INACTIVE] Individual filter type div (inactive) */
.filter-type {
    outline: none;
    text-align: center;
    border: collapse;
    background-color: #eeeeee;
}

/* [ACTIVE] Individual filter type div */
.filter-type-active {
    outline: none;
    text-align: center;
    border: collapse;
    background-color: #94bdbd;
}

/* Options that have been selected,
 * show up in filter window */
.filter-options {
    background-color: white;
    position: relative;
    display: block;
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
    border: 1px solid #cccccc;
    border-top: 0px;
    border-bottom: 0px;
}

.option-frame { 
}

/* selected-option is for options that have been checked 
 * and show up in filter window */
.selected-option {
    display: inline-block;
    float: left;
    width: 100%;
    height: 25px;
}

.selected-option button {
    float: left;
    width: 20%;
    height:25px;
}

.selected-option li {
    border-bottom: 1px solid grey;
    float: right;
    width: 80%;
    height:25px;
}

/* Window for the time option */
.time-option-window {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}

.day-btn:active {
    display:inline-block;
    background-color: #94bdbd;
}



/************* ABOVE IS ORGANIZED *************/

.filter-div-heading {
    background-color: #eeeeee;
    width:100%;
    height:100%;
}

/* **** FILTER LOGIC **** */
.filter-logic {
    background-color: #ccccc9;
    width: 100%;
    height: 23%;
    bottom:0;
    vertical-align: middle;
    display: inline-block;
    float: none;
}

.filter-logic label {
    font-size: 25px;
    float:0;    
}

.filter-logic input {
    top:50%;
    transform: translateY(-50%);
    vertical-align: middle;
}

.list-group-item.active {
    background-color: #94bdbd !important;
    border-color: #94bdbd !important;
    color: black !important;
}

.term-list {
    text-align:center;
}

.terms {
    float:left;
    display:inline-block;
}

.logic {
    width:50%;
    float:left;
}

/***** SECTION DETAIL STYLE *****/

.section-detail-frame {
    margin-top: 10px;
    min-width:300px;
    overflow-x: scroll;
    white-space: nowrap;
}

.table > thead > tr.top > th.sorted {
    background-color: #b3cccc;
}
div#response-btns {
    margin-left: 60%;
}
button.btn.response-btn {
    margin-left: 0;
}

.section-detail-modal-header {
    font-size: 26px;
    width: 50%;
    float: left;
}


.logic-buttons {
    position:relative;
    padding-top:0;
}

/* drop down AND/OR style */
div#filter-logic-frame > div > div > select {
    margin-left: 20px;
    padding: 0 15px;
    border: solid #94bdbd;
}
div#filter-logic-frame > div > div > select[disabled] {
    display: none;
}

/* filter logic frame custom style from other frames */
h4.filter-logic {
    background-color: #e5e5e5;
    text-align: center;
    padding-top: 50px;
}
div#filter-logic-frame {
    margin-top: 10px;
    margin-left: 12%;
    padding-right: 32%;
    width: 80%;
    height: 250px;
}
button#apply-filter-btn {
    margin-left: 12%;
    width: 80%;
    margin-top: 5px;
    padding-right: 10%;
}

/* Filter Type in Logic Window style */
label.checkbox-inline {
    color:gray;
    padding-top: 15px!important;
}
label.checkbox-inline.checked {
    color:#333;
    padding-top: 15px;
}

/* New Section Form */
.new_section_inputs {
    position:relative;
    text-align: center;
}

