.scheduling-container {
    margin-top: 10px;
}

.filter-frame {
    min-width:300px;
    background-color: #1ac6ff;
    border: 2px solid black;
    border-radius: 5px;
    overflow-x: auto;
}

.inner-frame {
    min-height: 300px;
    min-width: 250px;
    margin: 10px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    display:inline-block;
}

.inner-frame li {
    text-align:center;
}
