h1 {
	text-align: center;
	padding-bottom: 20px;
	/*text-decoration: underline;
	text-decoration-color: green;*/
	/*background: #29821f;*/
}

h4 {
	text-align: center;
}

td {
	text-align: center;
}

.name_chair_fields {
	height: 40px;
}

.input_labels {
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}

input {
	border-radius: 4px;
}

.btn {
	background-color: #85adad;
	align: center;
}

.panel {
	padding-top: 14px;
	padding-bottom: 14px;
}

.space {
	height: 30px;
}

.hours-label {
	/*background: #12f7f7;*/
	text-align: center;
	margin-bottom: 0;
	padding-top: 7px;
}

.form-group {
	/*background: #238f29;*/
}

.time-inputs {
	/*background: #3842f2;*/
}

.dash-text {
	text-align: center;
}

.well-border {
    border: 5px solid #85adad;
    padding-top: 14px;
    padding-bottom: 14px;
}

.remove-button {
    height: 30px;
    width: 30px;
    padding: 0px;
    margin: 0px;
}
.remove-button span {
    font-size:0.8em;
}

.section-type-table th, td {
    text-align:center;
}
