<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    	<title>Faculty Course Preferences</title>

    	{% load static %}
    	<link href="{% static "css/availability.css" %}" rel="stylesheet">
	</head>
	<body>
  		{% include "navbar.html" %}
  		<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#add-availability">+</button>

  		<div id="add-availability" class="modal fade" role="dialog">
      		<div class="modal-dialog">
        		<!-- Modal content-->
        		<div class="modal-content">
          			<div class="modal-header">
            			<button type="button" class="close" data-dismiss="modal">&times;</button>
            			<h4 class="modal-title">Set Availability</h4>
          			</div>
          			<div class="modal-body">
            			<form method="POST">{% csrf_token %}
            				<p>
            				{{ add_availability_form.day.label_tag }}
              				{{ add_availability_form.day }}
              				{{ add_availability_form.day.errors }}
              				</p>

              				<p>
              				<label for="id_start_time">Start Time:</label>
              				<input id="id_start_time" name="start_time" type="time" required="">
              				{{ add_availability_form.start_time.errors }}
              				</p>

              				<p>
              				<label for="id_end_time">End Time:</label>
              				<input id="id_end_time" name="end_time" type="time" required="">
              				{{ add_availability_form.end_time.errors }}
              				</p>

              				<p>
              				{{ add_availability_form.level.label_tag}}
              				{{ add_availability_form.level }}
              				{{ add_availability_form.level.errors }}
              				</p>

              				<button type="submit" name="add_availability_form" class="save btn btn-default">Submit</button>

            			</form>
          			</div>
          			<div class="modal-footer">
            			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          			</div>
        		</div>
      		</div>
    	</div>

		<table class="calendar table table-bordered">
    	<thead>
        	<tr>
	            <th>&nbsp;</th>
	            <th width="20%">Monday</th>
	            <th width="20%">Tuesday</th>
	            <th width="20%">Wednesday</th>
	            <th width="20%">Thursday</th>
	            <th width="20%">Friday</th>
	        </tr>
	    </thead>
	    <tbody>
				<tr>
						<td>8:00am</td>
						{% if monday.800 == "set" %}
							<td class="no-events success" rowspan="1"></td>
						{% else %}
						<td class=" no-events warning" rowspan="1"></td>
						{% endif%}
						<td class=" no-events" rowspan="1"></td>
						<td class=" no-events" rowspan="1"></td>
						<td class=" no-events" rowspan="1"></td>
						<td class=" no-events" rowspan="1"></td>
				</tr>
	        <tr>
	            <td>08:30am</td>
							{% if monday.830 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>09:00am</td>
							{% if monday.900 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>

	        </tr>
	        <tr>
	            <td>09:30am</td>
							{% if monday.930 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>10:00am</td>
							{% if monday.1000 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>10:30am</td>
							{% if monday.1030 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>

	        </tr>
	        <tr>
	            <td>11:00am</td>
							{% if monday.1100 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>11:30am</td>
							{% if monday.1130 == "set" %}
								<td class="no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>12:00pm</td>
							{% if monday.1200 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>12:30pm</td>
							{% if monday.1230 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>1:00pm</td>
							{% if monday.1300 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>

	        </tr>
	        <tr>
	            <td>1:30pm</td>
							{% if monday.1330 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>


	        </tr>
	        <tr>
	            <td>2:00pm</td>
							{% if monday.1400 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            </td>
	        </tr>
	        <tr>
	            <td>2:30pm</td>
							{% if monday.1430 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>3:00pm</td>
							{% if monday.1500 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>3:30pm</td>
							{% if monday.1530 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>4:00pm</td>
							{% if monday.1600 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	            <td>4:30pm</td>
							{% if monday.1630 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>5:00pm</td>
							{% if monday.1700 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>5:30pm</td>
							{% if monday.1730 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
	            <td>6:00pm</td>
							{% if monday.1800 == "set" %}
								<td class=" no-events success" rowspan="1"></td>
							{% else %}
							<td class=" no-events warning" rowspan="1"></td>
							{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
						<td>6:30pm</td>
						{% if monday.1830 == "set" %}
							<td class=" no-events success" rowspan="1"></td>
						{% else %}
						<td class=" no-events warning" rowspan="1"></td>
						{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
						<td>7:00pm</td>
						{% if monday.1900 == "set" %}
							<td class=" no-events success" rowspan="1"></td>
						{% else %}
						<td class=" no-events warning" rowspan="1"></td>
						{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	        <tr>
						<td>7:30pm</td>
						{% if monday.1930 == "set" %}
							<td class=" no-events success" rowspan="1"></td>
						{% else %}
							<td class=" no-events warning" rowspan="1"></td>
						{% endif%}
							<td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	            <td class=" no-events" rowspan="1"></td>
	        </tr>
	    </tbody>
	</table>

	<!-- <script src="{% static "js/availability.js" %}"></script> -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</body>
</html>
