<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Courses</title>

    <!-- Bootstrap -->
    {% load static %}
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="{% static "css/custom.css" %}" rel="stylesheet">

    <div class="well">
    </div>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
          <h1 align="center" style="padding-bottom: 20px">Department Faculty</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <table class = "table table-striped table-hover table-bordered" style="background-color: #fff">
            <thead>
              <tr class="top">
                <th>Name</th>
                <th>Description</th>
                <th>Equipment Requirements</th>
            </thead>
            <tbody>
              {% for course in course_list %}
              <tr>
                <th>{{ course.course_name }}</th>
                <th>{{ couse.description }}</th>
                <th>{{ course.equipment_req}}</th>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#add-course">+</button>
          <!-- <button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#delete-course">-</button> -->
        </div>
      </div>
    </div>

    <div id="add-course" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Course</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="?" novalidate>{% csrf_token %}
              <p>Add Course</p>
              {{ add_course_form.as_p }}
              <button type="submit" name="add-course" class="save btn btn-default">submit</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="delete-faculty" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete Faculty</h4>
          </div>
          <div class="modal-body">
            <form method="POST" action="?">{% csrf_token %}
              <p>Delete a Faculty Member</p>
              {{ delete_user_form.as_p }}
              <button type="submit" name="delete-form" class="save btn btn-default">submit</button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div> -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
  </body>
</html>
