<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    	<title>Faculty Course Preferences</title>

    	{% load static %}
    	<link href="{% static "css/course_preferences.css" %}" rel="stylesheet">
  		
	</head>
	<body>
  		{% include "navbar.html" %}

  		<div class="container">
      		<div class="row">
        		<div class="col-sm-12" style="padding-bottom: 20px">
         	 		<h1 align="center">Course Preferences</h1>
         		</div>
      		</div>
      	</div>
		<div id="course-prefs">
			<div id="new-course-pref">
				<h3>Add New Course Preference</h3>
				<form method="POST">{% csrf_token %}
					{{ add_course_pref.as_p }}
					<button type="submit" name="add_course_pref" class="save btn btn-default">Submit</button>
				</form>
			</div>
			<div id="course-prefs-list">
				<h3>Your Course Preferences</h3>
				<p>Update your course preferences rankings by dragging each course to your desired order and clicking "Update Rank".</p>
				<ul id="sortable">
					{% for course_pref in course_pref_list %}
						<li class="element"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
						<p>{{ course_pref.course.name }}</p>
						<p> - {{ course_pref.comments }}</p>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div id="update-rank-btn">
				<button id='update-rank' type="submit" onclick ="updateRank()" class="save btn btn-default">Update Rank</button>
			</div>
		</div>

 	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
 	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {% load static %}
    <script src="{% static "js/course_prefs.js" %}"></script>

    <script>
		$( function() {
		$( "#sortable" ).sortable(); 
    	$( "#sortable" ).disableSelection();
  		} );
  	</script>
	</body>
</html>