<!-- nav bar --> 
<nav class="navbar navbar-default custom-nav-bar" role="navigation"> <!-- navbar-fixed-top -->
  <div class="navbar-header" style="margin-left:25px;">
    <!-- displays logo   -->
    <a class="navbar-brand topnav" href="#"> 
      <img src="{% static "images/InvisoLogo.png" %}" width="65" height="65">
    </a>
    <a href = "#" class = "navbar-link navbar-right logout-button">Logout</a>
  </div>

  <!-- link to logout page -->
  <div class="collapse navbar-collapse custom-nav-bar-header">
    <ul class="nav navbar-nav navbar-right" style="margin-right: 25px;">
      <li> <a href="/home">HOME</a></li>
      <li> <a href="/scheduling">SCHEDULING</a></li>
      <li> <a href="/resources">RESOURCES</a></li>
      <li> <a href="/department">DEPARTMENT</a></li>
    </ul>
  </div>      
</nav>

