<html>
<head>
    {% load static %}
    <link rel="stylesheet" href={% static "css/schedulers.css" %}>
    <link rel="javascript" 
</head>
<body>
    <div class="schedulers-view">
        <div class="schedulers-table">
                <span>Scheduler ID<span>
                <span>Email<span>
                <span>First Name</span>
                <span>Last Name<span>
        </div>
        <div class="button-box">
            <button class="add-delete-button">+</button>
            <button class="add-delete-button">-</button>
        </div>
    </div>
</body>
</html>
