<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Scheduling</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Custom -->
    {% load static %}
    <link href="{% static "css/table.css" %}" rel="stylesheet">
    <link href="{% static "css/scheduling.css" %}" rel="stylesheet">

    <!-- #e0e0e0HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    {% include "navbar.html" %}
    <div id="scheduling-container" class="container scheduling-container">
      <div class="row">
        
      </div>
      <div class="row">
        <div id="filter-frame" class="col-xs-12 filter-frame">
          <div class="col-xs-4 outer-frame">
            <h1 style="text-align:center;">Filter Type</h1>
            <div id="filter-type-frame" class="inner-frame">
              <div id="course-filter" class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox">
                </span>
                <p class="form-control">Course</p>
              </div>
              <div id="faculty-filter" class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" aria-label="...">
                </span>
                <p class="form-control" aria-label="...">Faculty</p>
              </div>
              <div id="room-filter" class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" aria-label="...">
                </span>
                <p class="form-control" aria-label="...">Room</p>
              </div>
              <div id="time-filter" class="input-group">
                <span class="input-group-addon">
                  <input type="checkbox" aria-label="...">
                </span>
                <p class="form-control" aria-label="...">Time</p>
              </div>
            </div>
          </div>
          <!-- @TODO Fill with real entries -->
          <div class="col-xs-4 outer-frame">
            <h1 style="text-align:center;">Item</h1>
            <div id="item-frame" class="inner-frame">
              <ul class="list-group">
                <li class="list-group-item">CPE101</li>
                <li class="list-group-item">CPE102</li>
                <li class="list-group-item">CPE103</li>
              </ul>
            </div>
          </div>
          <!-- @TODO Fill with real entries -->
          <div class="col-xs-4 outer-frame">
            <h1 style="text-align:center;">Section</h1>
            <div id="section-frame" class="inner-frame">
              <ul class="list-group">
                <li class="list-group-item">01</li>
                <li class="list-group-item">02</li>
                <li class="list-group-item">03</li>
              </ul>
            </div> 
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
